body {
    padding: 0;
    margin: 0;
}

header {
    background-color: red;
    height: 10vh;
}

.PIKACHUUU {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.colunaDoMeio {
    height: 80vh;
    background: blue;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

.left {
    background: pink;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

main {
    background: black;
    height: 100%;
}

aside {
    background: yellowgreen;
    height: 100%;
}

footer {
    background: yellow;
    height: 10vh;
}