/* -------------- BUTTONS -------------- */

.nav-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 60px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #111;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
}


/* -------------- HEADER -------------- */

header {
    background-color: #333;
    height: 46px;
}

header nav {
    display: grid;
    grid-template-columns: 270px 1fr 270px;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
}

#nav-right-col {
    display: flex;
    justify-content: flex-end;
}