main {
    display: grid;
    grid-template-columns: 0px 1fr;
    height: 94.5vh;
}

#mapid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: calc(100vh - 50px);
    width: 100%;
}

#left-bar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1000px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#left-bar .point-card {
    margin-top: 15px;
}

.point-card {
    width: 150px;
    border: 1px solid #9b9a9a;
    border-radius: 4px;
}

.point-card-header {
    color: #9b9a9a;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #3b3b3b;
    background-color: #ffffff;
    padding: 5px 10px;
}

.point-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.material-icons {
    font-size: 36px;
    color: #9b9a9a;
    margin-bottom: 5px;
    justify-content: center;
}

.point-card-main-description {
    color: #9b9a9a;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}