main {
    display: grid;
    grid-template-columns: 0px 1fr;
}

#mapid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: calc(100vh - 50px);
    width: 100%;
}

.leaflet-btn {
    display: flex;
    margin-top: 1rem;
    margin-left: 0.5rem;
}